/* body{
    background-color: green;
} */

#board{
    width: 1200px;
    height: 800px;
    background-color: green;
    position: relative;
}

.card{
    width: 120px;
    height: 160px;
    position: absolute;
    left: 30px;
    top: 30px;
    background-color: blue;
    border-radius: 8px;
}

.card_back{
    background-color: aliceblue;
}

.card_ah{

}

.card_ak{

}

.card_aq{

}

.card_aj{

}

.card_a10{

}

.card_a9{

}

.card_a8{

}

.card_a7{

}

.card_a6{

}

.card_a5{

}

.card_a4{

}

.card_a3{

}

.card_a2{

}